html,
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transition: all 0.5s;
    color: black;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPickersPopper-paper.css-1yllih9-MuiPaper-root-MuiPickersPopper-paper
    > div:first-child
    > div:first-child {
    visibility: hidden;
}
